*body{margin: 0px;
padding:0px;
}
.header{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dimgray;
    border: 2px inset ivory;
    box-sizing: border-box;
    border-radius: 4px;
}
.links a{
    margin-left: 100px;
    font-size: 20px;
    text-decoration: none;
}
.links a:hover{
    background-color: aquamarine;
    border: 2px solid green;
    border-radius: 5px;
    transition: 0.5s;
}
.mid{
    height: 500px;
    width: 100%;
}
.tbl{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.footer{
    margin-top: 1px;
    height: 50px;
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}